# This is a basic workflow to help you get strated with actions

name: web

# Control when the workflow will run
on:

# Trigger the workflow on push or pull request events but only for the main branch
  push: 
    paths: 
      - 'github-terraform/leksjon07/staticwebsite/**'

# A worksflow run is made up of one or mode jobs that can run sequently or in parallel
jobs:
  # This workflow contains a single job called "web"
  terraform:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    name: "web"
    env:
      ARM_CLIENT_ID: ${{secrets.AZURE_CLIENT_ID}}
      ARM_CLIENT_SECRET: ${{secrets.AZURE_CLIENT_SECRET}}
      ARM_SUBSCRIPTION_ID: ${{secrets.AZURE_SUBSCRIPTION_ID}}
      ARM_TENANT_ID: ${{secrets.AZURE_TENANT_ID}}
      WORKING_DIR: ./github-terraform/leksjon07/staticwebsite

    # Steps represents a sequence of tasks that will ve executed as part of the job 
    steps: 
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: "Terraform init"
        id: init
        run: terraform init
        working-directory: ${{ env.WORKING_DIR }}

      - name: "Terraform plan"
        id: plan
        run: terraform plan
        working-directory: ${{ env.WORKING_DIR }}

      - name: "Terraform apply"
        id: apply
        run: terraform apply -auto-approve
        working-directory: ${{ env.WORKING_DIR }}














      









    
